<!DOCTYPE html>
<html>
<head>
  <title>Let's Name This Sucker!</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<span id="notice"><%= notice %></span>
<div id="wrapper">
	<header>
		<h1 class="site_title"><%= link_to "Let's name our app!", root_path %></h1>
	</header>
	<%= yield %>
</div>
</body>
</html>
